@{
    Page.Title = "MLA Interior Architecture & Design";
    Page.SubTitle = "About";
    Layout = "~/_Layout.cshtml";
}
                    
                    <div id="about-panel" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Page.SubTitle</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Madeline Lester + Associates (MLA) is a boutique Interior Architecture and Design Consultancy committed to creating 
                                spaces that enhance the human experience through quality and thoughtful design.
                            </p>

                            <p>Our design philosophy at Madeline Lester + Associates is that people and human experience are central to all good design.</p>

                            <p>
                                Through our commitment to client objectives and aspirations, coupled with an understanding and interpretation of the
                                overall project, our team provides creative design solutions that aim to enhance everyday well-being through the built
                                environment.
                            </p>
                        </div>
                    </div>



