@{
    Page.Title = "MLA Interior Architecture & Design";
    Page.SubTitle = "About";
    Layout = "~/_Layout.cshtml";
}

                    <div id="about-panel" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Isabella Karpathios - Projects Coordinator</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Isabella studied Art History and Theory at UNSW College of Fine Arts followed by Interior Architecture at the University of New
                                South Wales. After working with Higgovale Pty Ltd as the Marketing and Online Manager, Isabella joined MLA in 2013 as Project
                                Coordinator.
                            </p>

                            <p>
                                Isabella’s exceptional all round design skills in project management, design development and documentation combined with her
                                background in marketing displays her multi skilled approach to her profession. Isabella coordinates all MLA projects and works
                                closely with Madeline to deliver successful and timely projects for our clients.
                            </p>
                        </div>
                    </div>




