@{
    Page.Title = "MLA Interior Architecture & Design";
    Page.SubTitle = "About";
    Layout = "~/_Layout.cshtml";
}
                    
                    <div id="about-panel" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Madeline Lester - Principal Director</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Madeline Lester is an Interior Designer and Design Management consultant, who co-founded Interni an Interior Design firm in
                                1988. In July 2006 and after eighteen successful years as a director of Interni, Madeline sold her interest and is now
                                positioned as an independent Interior Architecture and Design Practice. Specialising in a diverse range of interior
                                environments with over 46 years of experience in the field. Madeline is the Principal Director of Madeline Lester +
                                Associates.
                            </p>

                            <p>
                                In 2011 Madeline Lester received an Order of Australia (AM) for services to the Design profession in practice and education
                                and for her role with the professional bodies, both nationally and internationally. Madeline is the former President of the
                                International Federation of Interior Architects/Designers (IFI), is a Past President of the Design Institute of Australia
                                and former Associate Professor of Interior Architecture at the University of New South Wales 2000-2009, and is currently an
                                Adjunct Professor at the University Tasmania, in the School of Architecture and Design.
                            </p>
                        </div>
                    </div>