@{
    Page.Title = "MLA Interior Architecture & Design";
    Page.SubTitle = "Media";
    Layout = "~/_Layout.cshtml";
}
                    
                    <div id="about-panel" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Page.SubTitle</h3>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>



